<div class="headerElements flex items-center justify-center gap-6 p-4 bg-white dark:bg-zinc-900">
  <section>
    <img id="Logo" src="./assets/Logo.png" alt="Logo" class="h-12" />
  </section>

  <section>
    <button
      class="relative px-5 py-2 bg-red-900 text-white font-semibold rounded-lg border-2 border-red-500 hover:border-red-400 transition-all duration-300 hover:shadow-[0_0_20px_10px_rgba(239,68,68,0.6)] active:scale-95 active:shadow-[0_0_10px_5px_rgba(239,68,68,0.4)] group"
      (click)="descargarCV()"
    >
      <span class="flex items-center space-x-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          stroke="currentColor"
          fill="none"
          class="w-6 h-6 text-red-500 group-hover:text-white transition-colors duration-300"
        >
          <path
            d="M5 13l4 4L19 7"
            stroke-width="2"
            stroke-linejoin="round"
            stroke-linecap="round"
          ></path>
        </svg>
        <span>Descargar CV</span>
      </span>

      <span
        class="absolute inset-0 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 bg-gradient-to-r from-red-500/20 to-red-700/20"
      ></span>
    </button>
  </section>
</div>
